body {
    background-color: lightblue;
}

.bug-edit label{
    display: block;
    margin: 10px;
}

.bug-edit textarea{
    display: block;
}

.bug-edit .edit-bug-title input{
    width: 500px;
}

.bug-edit .edit-bug-severity input{
    width: 35px;
}